.precio {
  text-align: right;
  width: 25%;
}

.descripcion {
  width: 75%;
}

.total {
  text-align: center;
}

.controlCantidad {
  font-size: large;
}

.promocion {
  font-size: large;
}

.detallePromo {
  font-size: 1rem;
}

.promoInvalida {
  color: red;
}

.categorias {
  font-size: x-small;
}
