<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Menú Cheese Pizza</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="seleccion-sucursal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <app-datos-encabezado></app-datos-encabezado>
        <app-boton-pedido></app-boton-pedido>

        <ion-grid fixed>
          <ion-row>
            <ion-col size-sm="12" size-md="6" size-lg="4" size-xl="4" size="12">
              <ion-card
                class="seleccion"
                (click)="abreSeccionMenu(puntoVenta.sucursalSeleccionada.menu.seccionPromociones)"
              >
                <img
                  [src]="puntoVenta.sucursalSeleccionada.menu.seccionPromociones.urlImg"
                />
                <ion-card-header>
                  <ion-card-title
                    >{{puntoVenta.sucursalSeleccionada.menu.seccionPromociones.nombre}}</ion-card-title
                  >
                </ion-card-header>
                <ion-card-content>
                  {{puntoVenta.sucursalSeleccionada.menu.seccionPromociones.descripcion}}
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size-sm="12" size-md="6" size-lg="4" size-xl="4" size="12">
              <ion-card
                class="seleccion"
                (click)="abreSeccionMenu(puntoVenta.sucursalSeleccionada.menu.seccionPizzas)"
              >
                <img
                  [src]="puntoVenta.sucursalSeleccionada.menu.seccionPizzas.urlImg"
                />
                <ion-card-header>
                  <ion-card-title
                    >{{puntoVenta.sucursalSeleccionada.menu.seccionPizzas.nombre}}</ion-card-title
                  >
                </ion-card-header>
                <ion-card-content>
                  {{puntoVenta.sucursalSeleccionada.menu.seccionPizzas.descripcion}}
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col size-sm="12" size-md="6" size-lg="4" size-xl="4" size="12">
              <ion-card
                class="seleccion"
                (click)="abreSeccionMenu(puntoVenta.sucursalSeleccionada.menu.seccionOtrosProductos)"
              >
                <img
                  [src]="puntoVenta.sucursalSeleccionada.menu.seccionOtrosProductos.urlImg"
                />
                <ion-card-header>
                  <ion-card-title
                    >{{puntoVenta.sucursalSeleccionada.menu.seccionOtrosProductos.nombre}}</ion-card-title
                  >
                </ion-card-header>
                <ion-card-content>
                  {{puntoVenta.sucursalSeleccionada.menu.seccionOtrosProductos.descripcion}}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <app-boton-pedido></app-boton-pedido>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-toast trigger="open-toast" message="Toast" [duration]="500"></ion-toast>
</ion-content>
